<h3>Video Details</h3>
<div *ngIf="video">
    <form #form="ngForm" novalidate (submit)="onSubmit(form)">
        <fieldset class="form-group">
            <label for="videoTitle">Title: </label>
            <input type="text" class="form-control" [(ngModel)]="video.title" name="video.title" placeholder="Title" id="videoTitle"
            />
        </fieldset>
        <fieldset class="form-group">
            <label for="videoTitle">Description: </label>
            <input type="text" class="form-control" [(ngModel)]="video.description" name="video.description" placeholder="Description"
                id="videoDescription" />
        </fieldset>
        <fieldset class="form-group">
            <label for="videoUrl">Url:</label>
            <input type="text" class="form-control" [ngModel]="video.url" (ngModelChange)="validateVideoUrl($event)" name="video.url"
                placeholder="Url" id="videoUrl" />
        </fieldset>
        <fieldset class="form-group">
            <label for="videoOrigin">Origin:</label>
            <select class="form-control" [(ngModel)]="video.videoOrigin" name="video.videoOrigin">
                <option *ngFor="let origin of videoOrigins | keys" [value]="origin.key">{{origin.value}}</option>
            </select>
        </fieldset>
        <fieldset class="form-group">
            <label>Thumbnail:</label>
            <img [src]="video.thumbUrl" />
        </fieldset>
        <button class="btn btn-primary" type="submit">Ok</button>
        <br /> Form: {{ form.value | json}}
        <br /> Video: {{ video | json }}
    </form>
    <button class="btn btn-primary">Back</button>
</div>
<div class="container" [innerHtml]="preview?.html | safe: 'html'">

    <hr />
    <!--<div *ngIf="displayMode === 'watch'">
        <video-watch [video]="videoDetails">
        </video-watch>
    </div>
    <div *ngIf="displayMode !== 'watch'">
        <form [ngFormModel]="videoForm" id="video-details-add" *ngIf="videoDetails" (ngSubmit)="saveVideo(videoForm.value)">
            
            <fieldset class="form-group">
                <label>Rating: </label>
                <input class="form-control" placeholder="rating" [(ngModel)]="videoDetails.rating" ngControl="rating" />
                <span *ngIf="!videoForm.controls.rating?.valid">
                The rating must be between 0 and 5!
            </span>
            </fieldset>
            <fieldset class="form-group">
                <label>url: </label>
                <input class="form-control" placeholder="url" [(ngModel)]="videoDetails.url" ngControl="url" />
                <ul *ngIf="!videoForm.controls.url?.valid">
                    The URL is invalid. Possible issues:<br />
                    <li *ngIf="videoForm.controls.url?.emptyUrl">
                        The URL cannot be empty
                    </li>
                    <li *ngIf="videoForm.controls.url?.invalidUrl">
                        The URL format was not recognized by the system.
                    </li>
                </ul>
            </fieldset>
            <fieldset>
                <label for="VideoOrigin">Source:</label>
                <select class="form-control" [(ngModel)]="videoDetails.videoOrigin" ngControl="videoOrigin">
                <option *ngFor="let origin of videoOrigins | keys" [value]="origin.key">{{origin.value}}</option>
            </select>
            </fieldset>

            <button type="submit" class="ui button">Submit</button>
        </form>
    </div>-->
</div>