<h1>Videos Sample</h1>

<p>This component shows a simple fetching of Web API data.</p>

<p *ngIf="!videos"><em>Loading...</em></p>

<table class='table' *ngIf="videos">
    <thead>
        <tr>
            <th>Created</th>
            <th>Category</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let video of videos">
            <td>{{ video.createdDate }}</td>
            <td>{{ video.category }}</td>
            <td>{{ video.name }}</td>
        </tr>
    </tbody>
</table>
